.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], 
.about .navbar-inverse .navbar-nav > li > a[href="about.html"],
.index .navbar-inverse a.navbar-brand[href="."]
{
    color: #0e2f3f;
}

.footer {
    text-align: center;
}

.navbar-collapse {
    font-size: 16px;
    background-color: #b6c9cd;
    color: solid black;
}

.form {
    display: block;
    margin-left: 20px;

}

.background {
    background-image: url(/img/pinkbackground.jpg);
    margin-top: 0px;
}

img {
    float: right;
    margin-right: 20px;
}

.navbar-header {
    background-color: #b6c9cd;
    color: solid black;   
}

.navbar navbar-inverse navbar-static-top {
    background-color: #b6c9cd;
    color: solid black;
}

h1, h2, h3, h4, h5 {
    margin-top: 30px;
    margin-left: 20px;
}

.icon {
    float: left;
    margin-left: 20px;
    margin-top: 12px;
}

body {
    border: 20px solid #b6c9cd;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

.name {
    margin-left: 25px;
    margin-top: 30px;
}

h4 {
    font-size: 25px;
}

p {
    font-size: 18px;
}