.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], 
.about .navbar-inverse .navbar-nav > li > a[href="about.html"],
.index .navbar-inverse a.navbar-brand[href="."] {
    color: black;
    background-color: #d5d5d5;
    font-size: 18px;
    margin-left: 10px;
}

.navbar-collapse {
    background-color: #d5d5d5;
    font-size: 16px;
}

.navbar-header {
    background-color: #d5d5d5;
    color: black;
}

a.navbar-brand {
    background-color: #d5d5d5;
    color: black;
}

.navbar-inverse {
    border: 0;
}

@media screen and (max-device-width: 250px){
.form {
    padding: 100px;
    float: center;
    margin: auto;
}
}

input, textarea {
    display: block;
    padding: 15px;
    float: center;
    margin: auto;
    border: 1px solid black;
}

.text {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: none;
    border: 1px solid black;
}

.email {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: none;
    border: 1px solid black;
}

.message {
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 25px;
    border: none;
    border: 1px solid black;
}

.submit {
    text-transform: uppercase;
    align-items: center;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #9099a2;
    border-radius: 15px;
    border: 1px solid black;
}

.background {
    background-color: #d5d5d5;
}

img {
    float: right;
}

h1 {
    font-size: 30px;
}

.assignmentlinks {
    float: center;
    margin: 0;
}

.dusty {
    padding: 10px;
}

.lavendar {
    padding: 10px;
}

.dusty2 {
    padding: 10px;
}

.lavendar2 {
    padding: 10px;
}

footer {
    background-color: #d6d6d6;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    border-top: 1px solid black;
    border-style: none;
    bottom: 0;
    position: relative;
}

h4 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

.UX1 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.UX2 {
    font-size: 25px;
    color: black;
    text-align: center;
}

.UX3 {
    font-size: 22px;
    color: black;
    text-align: center;
}

.passionate {
    font-size: 25px;
    text-align: center;
}

.passion {
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    background-color: white;
}

.sub {
    color: black;
    font-size: 17px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    width: 100px;
    background-color: #d6d6d6;
}

.mywork {
    color: black;
}

.mywork:hover {
    color: white;
    text-decoration: none;
}

.name:hover {
    color: #a396c7;
}

iframe {
    border: 15px solid #96858f;
}

.h3work {
    text-align: center;
    font-size: 25px;
}

.h3work1 {
    text-align: center;
    font-size: 25px;
}

.pwork {
    width: 1200px;
    text-align: justify;
}

.here:hover {
    color: white;
    text-decoration: none;
}

.here {
    color: #d5d5d5;
}

.logo {
    float: left;
    margin-left: 25px;
}

.hoverp {
    color: #372883;
    animation:blinkingText 1.5s infinite;
}

.hovery {
    color: #f5b133;
    animation:blinkingText 1.5s infinite;
}

.hoverr {
    color: #e93f34;
    animation:blinkingText 1.5s infinite;
}

@keyframes blinkingText{
    0%{     color: #372883    }
    49%{    color: #f5b133; }
    60%{    color: #e93f34; }
    100%{   color: #372883;    }
}

.contact {
    text-align: center;
    color: black;
    font-size: 25px;
}

.enjoy {
    text-align: center;
    font-size: 30px;
}

.aboutback {
    border: 1px solid black;
    background-color: black;
}

.skills {
    width: 1000px;
    line-height: 200%;
}

.skills1:hover {
    color: #6d7993;
}

.skills2:hover {
    color: #96858f;
}

.skills3:hover {
    color: #6d7993;
}

.skills4:hover {
    color:  #96858f;
}

@media screen and (max-device-width: 250px){
.aboutme {
    font-size: 25px;
    text-align: center;
    font-family: "Lato", sans-serif;
}
}

.linkedin {
    float: center;
}

.linkedin2 {
    float: left;
}

.myangle1 {
    text-align: center;
}

.myangle2 {
    text-align: center;
}

.myangle3 {
    text-align: center;
}

.myangle {
    text-align: justify;
    width: 1000px;
}

.references {
    text-align: center;
    font-size: 20px;
}

.preference {
    text-align: center;
    width: 1000px;
}

.click {
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.description {
    color: black;
    line-height: 175%;
    text-align: justify;
    width: 80%;
    padding: 50px;
    font-family: "Lato", sans-serif;
    font-weight: black;
    font-size: 20px;
    margin: auto;
}

.aboutme {
    width: 1000px;
    float: center;
}

.whoami {
    text-align: left;
    margin-left: 150px;
}

.me {
    display: block;
    margin: auto;
    padding-right: 150px;
    padding-top: 100px;
}

.navbar-inverse .navbar-nav>li>a {
    padding-right: 50px;
    color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: grey;
}

.submit:hover {
    font-weight: bolder;
}

.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], .about .navbar-inverse .navbar-nav > li > a[href="about.html"], .index .navbar-inverse a.navbar-brand[href="."] {
    font-size: 16px;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-brand:hover {
    color: grey;
}