.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], 
.about .navbar-inverse .navbar-nav > li > a[href="about.html"],
.index .navbar-inverse a.navbar-brand[href="."]
{
    color: #0e2f3f;
}

.navbar-collapse {
    font-size: 16px;
    background-color: #b6c9cd;
    color: solid black;
}

.form {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.background {
    background-image: url(/img/pinkbackground.jpg);
}

img {
    float: right;
    margin-right: 20px;
    margin-top: 0px;
}

.navbar-header {
    background-color: #b6c9cd;
    color: solid black;   
}

.navbar navbar-inverse navbar-static-top {
    background-color: #b6c9cd;
    color: solid black;
}

h1, h2, h3, h4, h5 {
    margin-top: 30px;
    margin-left: 20px;
}

.me {
    float: left;
    margin-left: 20px;
    margin-top: 80px;
}

footer {
    background-color: #b6c9cd;
    color: black;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid black;
    padding-bottom: 10px;
}

.name {
    margin-left: 25px;
    margin-top: 30px;
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

p {
    margin-left: 20px;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 30px;
}

.UX1 {
    font-size: 30px;
    margin-left: 590px;
}

.UX2 {
    font-size: 25px;
    margin-left: 580px;
}

.passionate {
    font-size: 25px;
    text-align: center;
}

.passion {
    font-size: 20px;
    text-align: center;
    margin-left: 650px;
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    background-color: #f5b133;
}

.mywork {
    color: black;
}

.mywork:hover {
    color: white;
    text-decoration: none;
}

.map {
    float: left;
    margin-left: 370px;
    margin-top: 5px;
    background-color: #b6c9cd;
}

.name:hover {
    color: #a396c7;
}

iframe {
    float: right;
    margin-right: 20px;
    margin-top: -393px;
}

.h3work {
    margin-top: 50px;
}

.h3work:hover {
    color: #b6c9cd;
}

.pwork {
    width: 400px;
    line-height: 200%;
    border: 1px solid black;
    padding: 10px;
}

.here:hover {
    color: white;
    text-decoration: none;
}

.here {
    color: grey;
}

.logo {
    float: left;
    text-emphasis: wrap;
    margin-left: 20px;
}

.hoverp:hover {
    color: #372883;
}

.hovery:hover {
    color: #f5b133;
}

.hoverr:hover {
    color: #e93f34;
}

.github {
    color: grey;
}

.github:hover {
    text-decoration: none;
    color: white;
}

.link {
    margin-left: 20px;
    line-height: 200%;
    font-size: 18px;
}

.contact {
    margin-top: -10px;
}